/* sliding dialog start 
html.open {
  overflow: hidden;
}// 메뉴가 열렸을때 본문이 스크롤 되지 않게
*/


/* ------------------------------------------------------------------------------------------------------ */
/*  ------------------------------------    COURSE VIEW START ------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */

/* 학기 정보 안보이게 하기 */
#left-side #section-tabs-header-subtitle {display: none;}

/*공지사항*/
#section-tabs > li > .announcements {color: #2d58a1; font-weight: bold;}
#section-tabs > li > .announcements.active {background: #2d58a1;color: #fff;}

/*수업계획서*/
#section-tabs > li > .context_external_tool_4 {border-radius: 0; color: #2d58a1; font-weight: bold; border-bottom:1px solid #ddd; margin-bottom: 10px;}
#section-tabs > li > .context_external_tool_4.active {background: #2d58a1;color: #fff;}

/*강의수강*/
#section-tabs > li > .context_external_tool_30 {color: #7d5dc6; font-weight: bold;}
#section-tabs > li > .context_external_tool_30.active {background: #7d5dc6;color: #fff;}

/*과제*/
#section-tabs > li > .context_external_tool_31 {color: #7d5dc6; font-weight: bold;}
#section-tabs > li > .context_external_tool_31.active {background: #7d5dc6;color: #fff;}

/*퀴즈*/
#section-tabs > li > .context_external_tool_32 {color: #7d5dc6; font-weight: bold;}
#section-tabs > li > .context_external_tool_32.active {background: #7d5dc6;color: #fff;}

/*토론*/
#section-tabs > li > .context_external_tool_33 {color: #7d5dc6; font-weight: bold;}
#section-tabs > li > .context_external_tool_33.active {background: #7d5dc6;color: #fff;}

/*세미나*/
#section-tabs > li > .context_external_tool_34 {color: #7d5dc6; font-weight: bold;}
#section-tabs > li > .context_external_tool_34.active {background: #7d5dc6;color: #fff;}

/*시험*/
#section-tabs > li > .context_external_tool_35 {color: #7d5dc6; font-weight: bold;}
#section-tabs > li > .context_external_tool_35.active {background: #7d5dc6;color: #fff;}

/*강의자료실*/
#section-tabs > li > .context_external_tool_36 {border-radius: 0; color: #7d5dc6; font-weight: bold; border-bottom:1px solid #ddd; margin-bottom: 10px;}
#section-tabs > li > .context_external_tool_36.active {background: #7d5dc6;color: #fff;}

/*성적*/
#section-tabs > li > .context_external_tool_37 {border-radius: 0; color: #45a9bf; font-weight: bold;}
#section-tabs > li > .context_external_tool_37.active {background: #45a9bf; color: #fff;}

/*강의 Q&A*/
#section-tabs > li > .context_external_tool_38 {border-radius: 0; color: #45a9bf; font-weight: bold;}
#section-tabs > li > .context_external_tool_38.active {background: #45a9bf; color: #fff;}

/*수강현황*/
#section-tabs > li > .context_external_tool_39 {border-radius: 0; color: #45a9bf; font-weight: bold;}
#section-tabs > li > .context_external_tool_39.active {background: #45a9bf; color: #fff;}

/*강의평가*/
#section-tabs > li > .context_external_tool_40 {border-radius: 0; color: #45a9bf; font-weight: bold; font-weight: bold; border-bottom:1px solid #ddd; margin-bottom: 10px;}
#section-tabs > li > .context_external_tool_40.active {background: #45a9bf; color: #fff;}

/* 안 쓰는 메뉴 목록에서 없애버리기 */
#section-tabs > li > .assignments {display: none;}
#section-tabs > li > .quizzes {display: none;}
#section-tabs > li > .discussions {display: none;}
#section-tabs > li > .grades {display: none;}
#section-tabs > li > .syllabus {display: none;}
#section-tabs > li > .modules {display: none;}
#section-tabs > li > .people {display: none;}
#section-tabs > li > .pages {display: none;}
#section-tabs > li > .home {display: none;}

/* Jia */
/*.list-view a.active {border-left: 3px solid #2d58a1; color: #2d58a1; padding-left: 10px;} */
.list-view>ul>li>a, .list-view>nav>ul>li>a {font-weight: bold;} /* 왼쪽 메뉴 폰트 굵게 */
.list-view a.active {border-left: 0 none; color: #fff; padding: 8px 10px; background: #009de8; border-radius: 1px;}  /* 왼쪽 메뉴 배경 하늘색 */
.progress-bar__bar {background: #ff5012;}  /* Progress Bar 주황색 */
.progress-bar__bar-container {border: solid #ff5012 1px;}  /* Progress Bar 테두리 주황색 */
.ic-app-header__menu-list-link:not(.ic-app-header__menu-list-link--nav-toggle) {padding: 0.9rem 0}  /* 왼쪽 Navigation 세로 높이값 늘림 */
.with-left-side #left-side {box-shadow: 0px 7px 10px rgba(0,0,0,0.2); height: 100%;}  /* 왼쪽 Navigation 펼쳐지는 영역 그림자 추가 */
.ic-app-course-menu {padding: 20px; font-size: small;}  /* 왼쪽 Navigation 펼쳐지는 여백 조정, 폰트 크기 줄임 */
body.primary-nav-expanded .menu-item-icon-container .ic-avatar {width: 50px; height: 50px;}  /* 왼쪽 개인 정보 사진 크기 키움 */

  /* 로그인 화면 제작사 정보 숨김 */
.ic-Login-footer .ic-Login-footer__logo-link {display: none;} 
.ic-Login-footer .ic-Login-footer__links a span, .ic-Login-footer .ic-Login-footer__links .menu-item__text span, .ic-Login-footer .ic-Login-footer__links .external span {display: none;} 


  /* 과목 뱃지 컬러 변경 */
.nav-badge {background: #ff5012;}
.list-view a.active .nav-badge {background: #ff5012; color: #fff;}

/* 아이콘 크기 26px 에서 32px로 변경 */
.ic-app-header__menu-list-link .ic-icon-svg {width: 32px;}

/* ------------------------------------------------------------------------------------------------------ */
/*  ------------------------------------    COURSE VIEW END ------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */








/* ------------------------------------------------------------------------------------------------ */
/*  ------------------------------------    라이너스 추가 ------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

/** info & help **/
.dialog__trigger,
.dialog__action {
  background: #ffffff;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.dialog__trigger:hover,
.dialog__action:hover {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.dialog__trigger:focus,
.dialog__action:focus {
  outline: 0;
}
.dialog__trigger:active,
.dialog__action:active {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.dialog {
  background: #ffffff;
  width: 350px;
  height: 800px;
  position: absolute;
  left: calc(100% - 30%);
  top: 0;
  padding: 30px;
  visibility: hidden;
  opacity: 1;
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
  float: right;
  z-index: 1000;
}
@media (max-width: 600px) {
  .dialog {
    width: 90%;
    left: calc(50% - 45%);
  }
}
.dialog.dialog--active {
  left: 30%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.dialog .dialog__close {
  font-size: 0rem;
  line-height: 2rem;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  padding: 7px;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}
.dialog .dialog__close:hover {
  color: #e74c3c;
}
.dialog .dialog__title {
  margin: 0;
  padding: 0 0 15px 0;
  border-bottom: 2px solid #ffffff;
}
.dialog .dialog__content {
  font-size: 1.1rem;
  line-height: 2rem;
}
.dialog .dialog__action {
  margin: 0;
  font-size: 1rem;
}
